<% provide(:title, 'About Us') %>
<div>
	<h2>About Us</h2>
	<p>
		Tote bag lo-fi you probably haven't heard of them venmo gochujang. Migas farm-to-table whatever viral, waistcoat neutra typewriter plaid man bun schlitz bespoke actually beard four loko. PBR&B cardigan hammock migas, gochujang helvetica disrupt jean shorts polaroid lomo. Schlitz deep v fingerstache, tote bag flannel lomo flexitarian XOXO cold-pressed vinyl food truck kinfolk meggings try-hard heirloom. Thundercats hammock slow-carb, listicle everyday carry viral whatever pour-over literally cliche migas. You probably haven't heard of them pitchfork art party, shoreditch man braid twee VHS plaid. Mixtape twee marfa, gastropub locavore +1 bespoke bushwick organic disrupt vinyl.
	</p>
</div>