<% provide(:title, 'Home') %>
<div>
	<h1>Welcome to Coffee Shop App</h1>
	<p>
		Waistcoat helvetica wayfarers, narwhal selfies jean shorts forage cornhole iPhone. Flannel vegan marfa bespoke intelligentsia, trust fund tacos swag affogato. Pabst craft beer four loko asymmetrical austin affogato everyday carry bicycle rights lo-fi. Fanny pack chambray ennui, post-ironic slow-carb heirloom hella. Paleo umami 8-bit next level, twee before they sold out godard DIY squid pour-over bicycle rights distillery. Helvetica before they sold out 8-bit lo-fi shabby chic pickled. Slow-carb gochujang paleo small batch.
	</p>
</div>